name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  install_dependency:
    name: Install dependency
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
         pod deintegrate WonderfullIndonesia.xcodeproj
         pod install --repo-update

  swift_lint:
    name: SwiftLint
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache Swiftlint
        id: swift-lint
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-swiftlint

      - name: Install Swiftlint
        if: steps.swift-lint.outputs.cache-hit != 'true'
        run: |
           rm '/usr/local/bin/swiftlint'
           brew install swiftlint

      - name: Run Swiftlint
        run: swiftlint

  build:
    runs-on: macOS-latest
    steps:
     - uses: actions/checkout@v2
     - name: List available Xcode versions
       run: ls /Applications | grep Xcode

     - name: Run a one-line script
       run: sudo xcode-select -switch /Applications/Xcode_13.1.app && /usr/bin/xcodebuild -version

     - name: Run a multi-line script
       run: |
          xcodebuild test -workspace WonderfullIndonesia.xcworkspace -scheme WonderfullIndonesia -destination "platform=iOS Simulator,name=iPhone 11 Pro,OS=15.0"
