name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  tests:
    name: Tests
    runs-on: macOS-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Clean Derived Data
        run: |
         rm -rf ~/Library/Developer/Xcode/DerivedData
         echo "Removed all derived data."

      - name: Install Dependencies
        run: |
         pod deintegrate
         pod install --repo-update

      - name: Cache Swiftlint
        id: swift-lint
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-swiftlint
      - name: Install Swiftlint
        if: steps.swift-lint.outputs.cache-hit != 'true'
        run: |
           rm '/usr/local/bin/swiftlint'
           brew install swiftlint
      - name: Run Swiftlint
        run: swiftlint

      - name: List available Xcode versions
       run: ls /Applications | grep Xcode
       - name: Run a one-line script
       run: sudo xcode-select -switch /Applications/Xcode_13.1.app && /usr/bin/xcodebuild -version
      - name: Run a multi-line script
       run: |
          xcodebuild test -workspace WonderfullIndonesia.xcworkspace -scheme WonderfullIndonesia -destination "platform=iOS Simulator,name=iPhone 11 Pro,OS=15.0"